body {
    background: rgb(0, 172, 241);
    font-family: 'Comfortaa', cursive;
}


.container-content {
    width: 90%;
    background-color: white;
    /*margin-top: 70px;*/
    margin-bottom: 20px;
    padding-bottom: 20px;
    --padding-left-right: 70px;
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
     color: rgb(52, 102, 151);
     border-radius: 5px;
     text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 28px;
}
